@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

@media (max-width:576px) {
    .new-edition {
        display: flex;
        flex-direction: column;
    }

    .bottom-heading {
        color: rgb(35, 34, 41);
        font-family: Gilroy;
        font-size: 36px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
    }

    .shirt-hoodies-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .shirt-hoodies-container {
        width: 764px;
        height: 353px;
        left: 111px;
        right: 565px;
        top: 800px;
        bottom: 14px;
    }

    .heading {
        width: 537px;
        height: 286px;
        left: 120px;
        right: 783px;
        top: 251px;
        bottom: 630px;
    }

    .input-bar {

        width: 506px;
        height: 70px;
        left: 278px;
        right: 656px;
        top: 146px;
        bottom: 951px;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 1177px;
        height: 58px;
        left: 122px;
        right: 141px;
        top: 32px;
        bottom: 1077px;
    }

    .list-container {
        display: none;
        justify-content: space-around;
        width: 539px;
        height: 28px;
        left: 459.5px;
        right: 178.5px;
        top: 48px;
        bottom: -18px;
    }

    .links {

        color: black;
        margin: 10px;
    }
}

@media (min-width:768px) {
    .new-edition {
        display: flex;
    }

    .bottom-heading {
        color: rgb(35, 34, 41);
        font-family: Gilroy;
        font-size: 36px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
    }

    .shirt-hoodies-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .shirt-hoodies-container {
        width: 764px;
        height: 353px;
        left: 111px;
        right: 565px;
        top: 800px;
        bottom: 14px;
    }

    .heading {
        width: 537px;
        height: 286px;
        left: 120px;
        right: 783px;
        top: 251px;
        bottom: 630px;
    }

    .input-bar {

        width: 506px;
        height: 70px;
        left: 278px;
        right: 656px;
        top: 146px;
        bottom: 951px;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 1177px;
        height: 58px;
        left: 122px;
        right: 141px;
        top: 32px;
        bottom: 1077px;
    }

    .list-container {
        display: flex;
        justify-content: space-around;
        width: 539px;
        height: 28px;
        left: 459.5px;
        right: 178.5px;
        top: 48px;
        bottom: -18px;
    }

    .links {
        color: black;
        margin: 10px;
    }
}
